body{background-color: #34495e;}
.container{
    .mainBox{border: 10px solid #01a3a4; background: #fff; width: 40%; margin: 0 auto; text-align: center; padding: 20px;}
    h1{margin: 50px 0; text-transform: uppercase;}
    .list{margin-top: 50px; padding-left: 0; }
    .myCheck{list-style: none; border: 2px solid #b5c5dd; display: flex; align-items: center; flex-wrap: wrap;}
    .checkLabel{font-size: 18px; margin-bottom: 0;}
    .checkbox_input{margin: 5px; border: 2px solid #b5c5dd; position: relative; outline: 0; -webkit-appearance: none; width: 30px; height: 30px;
        &[type="checkbox"]:checked + label{text-decoration: line-through; color: rgba(0,0,0,0.3);}
        &:checked:after{content: '\2714'; font-size: 20px; position: absolute; top: 0; left: 0; color: #000;}
    }
    .control_input{font-size: 20px; padding-left: 5px; box-sizing: border-box; margin-bottom: 20px; border: 2px solid #b5c5dd; border-radius: 10px; width: 100%;}
    .control_input:focus{outline: 0;}
    .control_btn{background: #fff; border: none; margin-top: 10px; cursor: pointer; color: #fff; border-radius: 10px; display: inline-block; padding: 10px 0; width: 100%;
        &:focus{outline: none;}
        &:hover{transform: scale(1.05);}
    }
    .add_btn{background: #2980b9;}
    .remove_btn{background: #c0392b;}
    .removeAll_btn{background: #c0392b;}
    .myCheck{opacity: 1; border-radius: 10px; margin-bottom: 10px;
        &:last-child{margin-bottom: 0;}
    }
    // .visual{opacity: 1 !important; border-radius: 10x;}
}